@import "tailwindcss";

:root {
  --background: #423060;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
